body {
  text-align: center;
  background-color: #011f3f;
}

#game-title{

  font-family: "Press Start 2P", cursive;
  font-size: 4rem;
  margin: 5%;
  color: #08c5ff;
  text-shadow: rgb(145, 34, 34) 4px 4px 20px;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
  height:8.5rem;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}
.level-cleared {
  background-color: rgb(11, 214, 45);
  opacity: 0.8;
  text-shadow: 4px 4px 10px rgb(255, 0, 0);
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}
.white {
  background-color: white;
}
.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/* HOW TO PLAY  */

.howToPlay,
.score {
  font-family: "Press Start 2P", cursive;
  font-size: 1rem;
  margin: 5%;
  color: #69f7d8;
}
.howToPlay h2 {
  color: #ffee00;
  line-height: 1.2;
}
.howToPlay i {
  color: rgb(252, 0, 0);
}
/* .howToPlay i:hover{
  color:chartreuse;
} */
.instructions {
  text-align: left;
  line-height: 2;
}
ol {
  color: #eeb492;
}
img {
  display: flex;
  margin: 0 auto;
  padding: 0;
  height: 5rem;
  width: auto;
  /* border:0.5rem solid rgb(0, 228, 11); */
  border-radius: 2rem;
}
.good-luck {
  text-align: center;
  text-shadow: 4px 4px 8px #7c1c1c;
  font-size: 1.5rem;
  color: rgb(35, 216, 96);
}

.rotate {
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.rotate.down {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fontSize {
  font-size: 10px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 250px) {
  .container {
    margin: 0 auto;
    width: 100%;
  }
  .btn {
    margin: 0.2rem;
    padding: 0;
    display: inline-block;
    height: 50px;
    width: 50px;
  }
  
  
  #level-title{
    font-size: 1rem;
  }
  #howToPlayID{
    font-size: 0.5rem;
  }
  #point-title{
    font-size: 10px;
  }
  #scoreID{
    font-size: 0.5rem;
    
  }
}
@media (min-width: 250px) and (max-width: 320px) {
  .container {
    margin: 0 auto;
    width: 100%;
  }
  .btn {
    margin: 0.5rem;
    padding: 0;
    display: inline-block;
    height: 80px;
    width: 80px;
  }
  
  #level-title{
    font-size: 1.5rem;
    
  }
  #point-title{
    font-size: 0.5rem;
  }
  #howToPlayID{
    font-size: 0.8rem;
  }
  #scoreID{
    font-size: 0.5rem;
    
  }
}

@media (min-width: 570px) and (max-width: 1120px) {
  .container {
    margin: 0 auto;
    width: 80%;
  }
  
}
@media (min-width: 320px) and (max-width: 696px) {
  
  .container {
    margin: 0 auto;
    width: 80%;
  }
  .btn {
    margin: 1rem;
    display: inline-block;
    height: 7rem;
    width: 7rem;
  }
  #level-title{
    font-size: 2rem;
    
  }
  #howToPlayID{
    font-size: 1.2rem;
  }
  #point-title{
    font-size: 0.8rem;
  }
  #scoreID{
    font-size: 1.2rem;
    
  }
}

@media (min-width: 320px) and (max-width: 436px) {
  .container {
    margin: 0 auto;
    padding: 0;
    width: 80%;
  }
  .btn {
    margin: 0.6rem;
    display: inline-block;
    height: 5rem;
    width: 5rem;
  }
  
  #point-title{
    font-size: 10px;
  }
  #scoreID{
    font-size: 1rem;
    
  }
  
 
}
